body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #e7f0ff;
  transition: .3s;
}

/* Topbar */
.topbar {
  background: #1a73e8;
  padding: 14px 25px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar a, .topbar button {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

/* Wrapper Form */
.form-wrapper {
  width: 60%;
  margin: 40px auto;
  padding: 30px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

h2 {
  text-align: center;
  color: #004a99;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

input, select {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
  margin-bottom: 18px;
  font-size: 15px;
}

/* Button */
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #1a73e8;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #0d53b8;
}
