{% extends 'base.html' %}
{% block content %}


<h2 style="margin-bottom:20px">📊 Dashboard Mahasiswa</h2>


<!-- STAT CARDS -->
<div class="stats">
    <div class="stat-card blue">
        <div class="stat-title">Jumlah Mahasiswa</div>
        <div class="stat-value">{{ total }}</div>
    </div>

    <div class="stat-card green">
        <div class="stat-title">Rata-rata IPK</div>
        <div class="stat-value">{{ avg_ipk }}</div>
    </div>

    <div class="stat-card purple">
        <div class="stat-title">Jurusan Terbanyak</div>
        <div class="stat-value">{{ top_jurusan }}</div>
    </div>
</div>


<!-- CHART SECTION -->
<div class="chart-wrapper">
<h3>Distribusi Mahasiswa per Jurusan</h3>
<canvas id="jurusanChart" height="120"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('jurusanChart');
new Chart(ctx, {
type: 'bar',
data: {
labels: {{ per_jurusan.keys()|list|tojson }},
datasets: [{
label: 'Jumlah Mahasiswa',
data: {{ per_jurusan.values()|list|tojson }},
borderWidth: 2
}]
},
options: {
responsive: true,
plugins: {
legend: { display:false }
},
scales: {
y: { beginAtZero:true }
}
}
});
</script>


{% endblock %}