{% extends 'base.html' %}
{% block content %}
<h2 class="page-title">✏️ Edit Mahasiswa</h2>


<div class="form-wrapper">
<form method="post">
<label>Nama</label><input name="nama" value="{{ mhs.nama }}" required />
<label>Kelas</label><input name="kelas" value="{{ mhs.kelas }}" required />
<label>IPK</label><input name="ipk" value="{{ mhs.ipk }}" required />
<label>Jurusan</label>
<select name="jurusan">
{% for j in jurusan_list %}
<option {% if j==mhs.jurusan %}selected{% endif %}>{{ j }}</option>
{% endfor %}
</select>
<button class="btn">Update</button>
</form>
</div>
{% endblock %}