{% extends 'base.html' %}
{% block content %}
<h2 class="page-title">➕ Tambah Mahasiswa</h2>


<div class="form-wrapper">
<form method="post">
<label>NIM</label><input name="nim" required />
<label>Nama</label><input name="nama" required />
<label>Kelas</label><input name="kelas" required />
<label>IPK</label><input name="ipk" required />
<label>Jurusan</label>
<select name="jurusan">
{% for j in jurusan_list %}<option>{{ j }}</option>{% endfor %}
</select>
<button class="btn">Simpan</button>
</form>
</div>
{% endblock %}